# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Desenvolvimento\JavaRotineiro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
